@model ExternalIdentityServerAspNetIdentity.Controllers.Account.ChangePasswordInputModel

<div class="login-page">
    <div class="lead">
        <h1>Change Password</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-route="Signup">
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input type="password" class="form-control" placeholder="Current Password" asp-for="CurrentPassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" placeholder="New Password" asp-for="NewPassword" autocomplete="off">
                        </div>
                        <button class="btn btn-primary" name="button" value="create">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>