@model ExternalIdentityServerAspNetIdentity.Controllers.Account.ForgotPasswordViewModel
<div class="login-page">
    <div class="lead">
        <h1>ForgotPassword</h1>
        <p>A email is on it's way to you. Check spam if you don't get it.</p>
        <p>Feel free to pick whatever username you would like to login with or simply keep email as login name</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>