version: "3.9"
services:
    db:
        image: "postgres:13.2"
        ports:
            - 5432:5432
        environment:
            POSTGRES_PASSWORD: "Your_password123"
    identity:
        build: ./IdentityServerAspNetIdentity
        ports:
            - "5000:5000"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5000
            - ASPNETCORE_Kestrel__Certificates__Default__Password=Your_password123
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
            - ConnectionStrings__DefaultConnection= Host=db;Database=Identity;Port=5432;Username=postgres;Password=Your_password123
        volumes:
            - ./.certs/https:/https:ro
        depends_on:
            - identityseed
        restart: always
    identityseed:
        build: 
            dockerfile: Dockerfile-Migration
            context: ./IdentityServerAspNetIdentity
        environment:
            - ConnectionStrings__DefaultConnection= Host=db;Database=Identity;Port=5432;Username=postgres;Password=Your_password123
        depends_on:
            - db
    javascriptclient:
        build: ./JavaScriptClient
        ports:
            - "5003:5003"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5003
            - ASPNETCORE_Kestrel__Certificates__Default__Password=Your_password123
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
        volumes:
            - ./.certs/https:/https:ro
        depends_on:
            - db
    api:
        build: ./API
        ports:
            - "6001:6001"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:6001
            - ASPNETCORE_Kestrel__Certificates__Default__Password=Your_password123
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
            - Identity:Authority=http://identity:5000
            - Cors:http://localhost:5003
        volumes:
            - ./.certs/https:/https:ro
        depends_on:
            - db
    mvc:
        build: ./MvcClient
        ports:
            - "5002:5002"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5002
            - ASPNETCORE_Kestrel__Certificates__Default__Password=Your_password123
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
            - Identity:Authority=http://identity:5000
        volumes:
            - ./.certs/https:/https:ro
        depends_on:
            - db

